<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800">
    <link rel="stylesheet" href="../dist/dart.css">
</head>
<body>
    <div class="dart-ly-hero dart-ly-hero--to-right bg-primary">
        <img class="dart-ly-hero__img dart-ly-hero__img--transparent" src="../resources/img/bg-login.jpg">

        <div class="dart-ly-hero__caption text-white">
            <h2 class="font-weight-normal">Bienvenidos a SSPRO, <br> El camino a una carrera universitaria exitosa</h2>
            <p class="font-weight-light">
                SSPRO es un simulador de pruebas especializado para la preparación a los exámenes Ser Bachiller
            </p>
        </div>

        <div class="dart-ly-hero__box bg-white dart-u-box-center">
            <form action="panel.html" class="dart-form">
                <img class="dart-u-lg-ico mx-auto mb-5 d-block" src="../resources/img/logo.png">
                <p class="text-dark">Ingresa a tu cuenta SSPRO</p>
                <div class="dart-form-solid-group mb-4">
                    <label class="dart-form-solid-group__label" for="exampleInputEmail1">USUARIO</label>
                    <input type="text" class="dart-form-control dart-form-solid-group__input"  placeholder="Correo electrónico o cédula">
                </div>
                <div class="dart-form-solid-group mb-5">
                    <label class="dart-form-solid-group__label" for="exampleInputEmail1">CONTRASEÑA</label>
                    <input type="password" class="dart-form-control dart-form-solid-group__input"  placeholder="Credenciales">
                </div>
                <button type="submit" class="btn btn-primary mr-3">Entrar</button>
                <button type="button" class="btn btn-secondary ">Registrarse</button>
                <a href="#" class="d-block text-left mt-3">¿No eres un estudiante? Área docente</a>
            </form>
        </div>
    </div>

</body>
</html>