<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800">
    <link rel="stylesheet" href="../dist/main.css">
    <link rel="stylesheet" href="../dist/panel.css">
    <link rel="stylesheet" href="https://unpkg.com/simplebar@3.1.3/dist/simplebar.css" />
</head>
<body>
    <div class="dart-app-holder">
        <nav class="dart-aside-nav dart-nav-with-context dart-nav-invisible">
            <img src="../resources/img/cancel.svg" alt="cerrar menu" class="dart-nav-responsive-close">
            <ul data-simplebar class="dart-nav-menu">
                <li class="dart-menu-item dart-item-main">
                    <a href="login.html">
                        <img class="dart-item-icon" src="../resources/img/logo.png" alt="logo">
                    </a>
                </li>
                <li class="dart-menu-item dart-item-active">
                    <a href="login.html">
                        <img class="dart-item-icon" src="../resources/img/school.svg" alt="escuelas">
                    </a>
                </li>
                <li class="dart-menu-item">
                    <a href="login.html">
                        <img class="dart-item-icon" src="../resources/img/professor.svg" alt="profesores">
                    </a>
                </li>
                <li class="dart-menu-item">
                    <a href="login.html">
                        <img class="dart-item-icon" src="../resources/img/mortarboard.svg" alt="estudiantes">
                    </a>
                </li>
                <li class="dart-menu-item">
                    <a href="login.html">
                        <img class="dart-item-icon" src="../resources/img/books.svg" alt="preguntas">
                    </a>
                </li>
                <li class="dart-menu-item">
                    <a href="login.html">
                        <img class="dart-item-icon" src="../resources/img/exam.svg" alt="examen">
                    </a>
                </li>
            </ul>
            <div data-simplebar class="dart-nav-context">
                <h1>Institutos</h1>
                <ul class="dart-context-menu">
                    <li class="dart-menu-item dart-item-active">
                        <a href="panel.html">
                            <img class="dart-item-icon" src="../resources/img/list-selected.svg" alt="logo">
                            <p class="dart-item-description">Ver todos</p>
                        </a>
                    </li>
                    <li class="dart-menu-item">
                        <a href="add.html">
                            <img class="dart-item-icon" src="../resources/img/add.svg" alt="logo">
                            <p class="dart-item-description">Agregar</p>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <main class="dart-aside-container">
            <header class="dart-container-header">

                <div class="dart-header-division dart-header-mobile">
                    <img src="../resources/img/menu.svg" alt="menu" class="dart-menu-icon dart-nav-responsive-open">
                </div>
                <div class="dart-header-division dart-header-mobile">
                    <a href="">
                        <img src="../resources/img/search.svg" alt="buscador" class="dart-search-icon">
                    </a>
                    <a href="">
                        <img src="../resources/img/profile.jpg" alt="imagen de perfil" class="dart-user-icon">
                    </a>
                </div>




                <div class="dart-header-division dart-header-desktop">
                    <input type="search" class="dart-input-search" placeholder="Buscar contenido...">
                </div>
                <div class="dart-header-division dart-header-desktop">
                    <div class="dart-user-box">
                        <p class="dart-user-name">Pedro Jiménez</p>
                        <img src="../resources/img/profile.jpg" alt="imagen de perfil" class="dart-user-icon">
                    </div>
                </div>
            </header>
            <div class="container-fluid mt-4">
                <div class="row">
                    <div class="col-12 col-md-10 col-lg-8 m-auto">
                        <table class="dart-table">
                            <thead>
                                <tr>
                                    <th scope="col">Instituto</th>
                                    <th scope="col">Ubicación</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Centro Politécnico de Ciencias</td>
                                    <td>Ecuador</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <td>Centro Politécnico de Ciencias</td>
                                    <td>Ecuador</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <td>Centro Politécnico de Ciencias</td>
                                    <td>Ecuador</td>
                                    <td>@twitter</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <script src="https://unpkg.com/simplebar@3.1.3/dist/simplebar.js"></script>
    <script src="main.js"></script>
</body>
</html>